.app__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

}
body{
    background-color: #f5f6fa;
}
.app__stats{
    display: flex;
    justify-content: space-between;
}
.app__left{
    flex:.9
}
.app{
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
}
.container{display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;

    margin: 10px 40px;
}
.graph__recovered,
.graph__deaths,.graph{
    flex:0.5;
    padding: 0px;
    margin-top: 5px;
    border-bottom: 5px solid white;
    
}
.graph__recovered:hover{
    border-bottom: 5px solid lightgreen;
}
.graph:hover{
    border-bottom: 5px solid red;
}
.graph__deaths:hover{
    border-bottom: 5px solid red;
}
.app__header > h1{
    color: #fc3c3c;
    font-size: 2rem;
}
.app__dropdown{
    background-color: white;
}
.graph__container{
    display: flex;
    flex-direction: column;
    height:640px;
}
@media (max-width:990px){
    .app{
        flex-direction: column;
    }
    .app__stats{
        margin-bottom: 20px;
    }
}
@media (max-width:600px){
    .container{
        margin: 10px 10px;
    }
}